@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
    --darkGray: #434343;
    --gold: #f8b500;
    --teal: #00aec1;
    --white: #ffffff;
}

* {
    color: var(--darkGray);
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}


/* Background Image by Nordwood Themes on Unsplash: https://unsplash.com/photos/a-person-riding-a-snowboard-down-a-snow-covered-slope-KcsKWw77Ovw */
body {
    background: url('./Images/nordwood-themes-KcsKWw77Ovw-unsplash.jpg');
    background-size: cover;
}

/* #content's margin-top and .sticky's (class for header) height prevent overlapping */
#content {
    margin-top: 4rem;
}

.sticky {
    background-color: var(--white);
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}

ul {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

li {
    cursor: pointer
}

.active {
    color: var(--teal);
    text-decoration: underline;
    cursor: auto;
}

/* Menu (some Contact, Home) CSS */
h1 {
    font-weight: 900;
    padding: 2rem 0rem;
}

.home-container > h1, .menu-item-container > h1 {
    color: var(--gold);
}

.menu-item-container > h1 {
    text-decoration: underline;
    padding: 1rem;
}

.home-container,
.menu-container,
.contact-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item {
    background-color: var(--white);
    padding: 1rem;
    margin: 1rem 0rem;
}

/* Border Radius */
.menu-item, .home-pic {
    border-radius: 0.5rem;
}

.menu-item > p {
    font-size: 1.15rem;
}

.menu-photo-div {
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu-photo-div:hover img {
    transform: scale(1.2);
}

.menu-photo, .menu-polaroid {
    display: block;
    transition: .3s ease-in-out;
}

.menu-photo {
    height: 100%;
    width: auto;
    object-fit: scale-down;
}

.menu-polaroid {
    height: 70%;
    width: auto;
}

/* Divs for Beverages, Brunch, and Desserts */
.BeveragesDiv, .BrunchDiv, .DessertsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}