@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #eceee7;
}

/* #content's margin-top and .sticky's (class for header) height prevent overlapping */
#content {
    margin-top: 4rem;
}

.sticky {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
}

ul {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

li {
    cursor: pointer
}

.active {
    text-decoration: underline;
    cursor: auto;
}

/* Menu (some Contact, Home) CSS */
h1 {
    padding: 2rem 0rem;
}

.menu-container > h2 {
    font-weight: 900;
    text-decoration: underline;
    padding: 1rem;
}

.home-container,
.menu-container,
.contact-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item {
    background-color: white;
    width: 50%;
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 1rem 0rem;
}

.menu-photo-div {
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-photo {
    height: 100%;
    width: auto;
    object-fit: scale-down;
}

.menu-polaroid {
    height: 70%;
    width: auto;
}